/* normal variant */
.toaster {
  --normal-bg: var(--popover);
  --normal-text: var(--popover-foreground);
  --normal-border: var(--border);
}


button {
  cursor: pointer !important;
}

.isActive {
  background-color: black;
  color: white;

}



/* form */

.form-item {
  @apply flex flex-col justify-between h-[80px];
}

.form-item label {
  margin-bottom: 10px
}


